<?xml version="1.0" encoding="UTF-8"?>
<config>
    <propel>
        <datasources default="%normalized_name%">
            <datasource id="%normalized_name%">
                <adapter>mysql</adapter>
                <connection>
                    <dsn>mysql:host=##host##;dbname=##database##;charset=utf8</dsn>
                    <user>##username##</user>
                    <password>##password##</password>
                </connection>
            </datasource>
        </datasources>
    </propel>
</config>
